html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;border: 0;font-size: 100%;font: inherit;vertical-align: baseline;box-sizing:border-box;}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: "";content: none;}
table {border-collapse: collapse;border-spacing: 0;}
/* Reset Done*/
body {font: 14px/18px Helvetica, Arial, sans-serif;background-color:#fff;}
.clear {clear:both}
.hidden{display: none;}
img {border:none;}
/*blockquote {display:block;margin: 10px 15px 10px 30px;background-color:#efefef;border-left: 3px #aaa solid;padding:10px 15px;}*/
b,strong {font-weight:bold;}

.page-header {
	margin-bottom: 12px;
	padding:6px 16px;
}
.page-header__title {
	font-size: 36px;
	line-height: 1.32em;
	text-align: center;
}
.page-header__sub-title {
	color: #333;
	text-align: center;
	font-size: 18px;
	line-height: 1.32em;
}
.container {
	display: flex;
	padding: 12px;
}
.user-content {
	position: relative;
	width: 100%;
	padding: 6px 6px;
	margin: 0 6px;
}
.form-ctrl {
	margin-bottom: 12px;
}
.form-ctrl label {
	font-weight: bold;
}
.form-ctrl button{
	float: right;
	padding: auto 12px;
}
.uc__text-box {
	width:100%;
	max-width:100%;
	min-height: 400px;
}
.uc-window {
	margin-top: 36px;
	border: 1px solid #cdcdcd;
	border-radius: 4px;
	min-height: 200px;
	max-height: 600px;
	max-width: 720px;
	overflow: auto;
}
.uc-window__preview {
	padding: 12px;
	background-color: #fafafa;
}
.line {
	position: relative;
	display:block;
	white-space: pre;
	font-family: monospace;
	padding: 2px 6px 2px 24px;
}
.line:hover {
	background-color: #fafafa;
}
.line::before {
	position: absolute;
	content: attr(line);
	top: 0;
	left: -12px;
	text-align: right;
	color: #999;
	display: block;
	width: 24px;
}
.option-box {
	display: none;
	position: absolute;
	box-sizing: border-box;
	padding: 6px;
	background-color: rgba(255,255,255,.9);
	box-shadow: 0 2px 3px rgba(0,0,0,.16);
	border-radius: 2px;
	width: 100%;
}
.option-btn {
	text-decoration: underline;
	cursor: pointer;
}

.go-struct {
	margin-bottom: 0px;
	padding: 0 6px;
	border-radius: 4px;
}
.go-struct:hover {
	background-color: #f0f0f0;
}

/** Syntax Highlight **/
.syntax-name {
	color: #000;
}
.syntax-type {
	color: #F00;
}
.syntax-annot {
	color: #06D;
}
